

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script>
        const message = `[[${ message }]]`
        if(message) {
            alert(message);
        }
    </script>
    <title>클래스 리스트 추가</title>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:replace="fragments/header :: header"></th:block>
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <th:block th:replace="fragments/aside :: aside"></th:block>
</aside><!-- End Sidebar -->


<main id="main" class="main">
        <div class="pagetitle">
            <h1>학생등록</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">학생관리</li>
                    <li class="breadcrumb-item active">학생등록</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

    <!-- 학생 입력폼 -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">회원가입</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datata">
                            <thead>
                            <tr style="height: 40px;width:80px;border: 1px solid lightgray;">
                                <th>작성제목</th>
                                <th>작성공간</th>
                            </tr>
                            </thead>
                            <tbody>
                            <form th:action="@{/student/signup}" method="post">

                                <tr>
                                    <td>이름 </td>
                                    <td><input type="text" id="userName" name="userName"> </td>
                                </tr>

                                <tr>
                                    <td>ID </td>
                                    <td><input type="text" name="userId"></td>
                                </tr>

                                <tr>
                                    <td>PWD </td>
                                    <td><input type="password" name="userPass"></td>
                                </tr>

                                <tr>
                                    <td>권한 </td>
                                    <td>
                                        <select name="role">
                                            <option value="STUDENT">학생</option>
<!--                                            <option value="EMPLOYEE">강사</option>-->
<!--                                            <option value="ADMIN">관리자</option>-->
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>생일 </td>
                                    <td><input type="date" name="birth"></td>
                                </tr>
                                <tr>
                                    <td>휴대폰 </td>
                                    <td><input type="tel" name="phone"></td>
                                </tr>
                                <tr>
                                    <td>주소 </td>
                                    <td><input type="text" name="address"></td>
                                </tr>
                                <tr>
                                    <td>등록일 </td>
                                    <td><input type="date" name="registrationDate"></td>
                                </tr>
                                <tr>
                                    <td>소속학교 </td>
                                    <td><input type="text" name="school"></td>
                                </tr>
                                <tr>
                                    <td>학년(숫자) </td>
                                    <td><input type="text" name="grade"></td>
                                </tr>
                                <tr>
                                    <td>보호자 연락처 </td>
                                    <td><input type="text" name="parentContact"></td>
                                </tr>
                                <tr>
                                    <td><button type="submit">회원가입</button></td>
                                </tr>
                            </form>
                            </tbody>
                        </table> <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>LastDance</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>
</html>
