<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table border="1">
    <thead>
    <tr>
        <th>memberNo</th>
        <th>userName</th>
        <th>userId</th>
        <th>userPass</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.memberNo}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userPass}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <a th:href="@{|/users/${user.memberNo}|}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
