<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a th:href="@{/}" class="logo d-flex align-items-center">
      <img th:src="@{/assets/img/logo.png}" alt="Logo">
      <span class="d-none d-lg-block" th:text="'LastDance'">LastDance</span>
    </a>
    <!--      <i class="bi bi-list toggle-sidebar-btn"></i>-->
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <button type="button" class="btn btn-outline-dark" href="#">로그아웃</button>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " th:href="@{/}">
        <i class="bi bi-grid"></i>
        <span th:text="'메인'">메인</span>
      </a>
    </li><!-- End 메인 Nav -->

    <li class="nav-item">
      <a class="nav-link " th:href="@{/academy/dashboard}">
        <i class="bi bi-grid"></i>
        <span th:text="'학원현황'">학원현황</span>
      </a>
    </li><!-- End 학원현황 Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i>
        <span th:text="'학원관리'">학원관리</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>

      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a th:href="@{/academy/info}">
            <i class="bi bi-circle"></i>
            <span th:text="'학원정보'">학원정보</span>
          </a>
        </li>
        <li>
          <a th:href="@{/teacher/regist}">
            <i class="bi bi-circle"></i>
            <span th:text="'강사등록'">강사등록</span>
          </a>
        </li>
        <li>
          <a th:href="@{/teacher/list}">
            <i class="bi bi-circle"></i>
            <span th:text="'강사목록'">강사목록</span>
          </a>
        </li>
        <li>
<!--          <a href="../components-cards.html">-->
          <a href="./classList/classList.html">
            <i class="bi bi-circle"></i><span>클래스목록</span>
          </a>
        </li>
        <li>
          <a th:href="@{/academy/auth}">
            <i class="bi bi-circle"></i>
            <span th:text="'권한'">권한</span>
          </a>
        </li>
      </ul>
    </li><!-- End 학원관리 Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i>
        <span th:text="'학생관리'">학생관리</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a th:href="@{/student/regist}">
            <i class="bi bi-circle"></i>
            <span th:text="'학생등록'">학생등록</span>
          </a>
        </li>
        <li>
          <a th:href="@{/student/info}">
            <i class="bi bi-circle"></i>
            <span th:text="'학생정보'">학생정보</span>
          </a>
        </li>
      </ul>
    </li><!-- End 학생관리 Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i>
        <span th:text="'수업지원'">수업지원</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a class="nav-link collapsed" data-bs-target="#attendance-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-circle"></i><span>출석관리</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="attendance-nav" class="nav-content collapse background-color: #fff;" data-bs-parent="#forms-nav">
            <li>
              <a href="/class_support/classAttendanceList">
                <i class="bi bi-check h4"></i><span class="breadcrumb text-success">출석/결석 체크</span>
              </a>
            </li>
            <li>
              <a href="/class_support/attendanceSummary">
                <i class="bi bi-circle h4"></i><span class="breadcrumb text-success">일자별 출결 현황 표시</span>
              </a>
            </li>

          </ul>


        </li>

        <li>
          <a class="nav-link collapsed" data-bs-target="#grade-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-circle"></i><span>성적관리</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="grade-nav" class="nav-content collapse background-color: #fff;" data-bs-parent="#forms-nav">
            <li>
              <a href="/class_support/gradeRegistration">
                <i class="bi bi-check h4"></i><span class="breadcrumb text-success">성적 등록</span>
              </a>
            </li>
            <li>
              <a href="/class_support/gradeUpdate">
                <i class="bi bi-check h4"></i><span class="breadcrumb text-success">성적 관리</span>
              </a>
            </li>
            <li>
              <a href="/class_support/gradeSearch">
                <i class="bi bi-circle h4"></i><span class="breadcrumb text-success">성적 검색</span>
              </a>
            </li>

          </ul>


        </li>
        <li>
          <a th:href="@{/class/list}">
            <i class="bi bi-circle"></i>
            <span th:text="'과제등록'">과제등록</span>
          </a>
        </li>
        <li>
          <a th:href="@{/class/list}">
            <i class="bi bi-circle"></i>
            <span th:text="'플래너'">플래너</span>
          </a>
        </li>
      </ul>
    </li><!-- End 수업지원 Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i>
        <span th:text="'학생상세페이지'">학생상세페이지</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a th:href="@{/student/info}">
            <i class="bi bi-circle"></i>
            <span th:text="'학생정보'">학생정보</span>
          </a>
        </li>
        <li>
          <a th:href="@{/student/class}">
            <i class="bi bi-circle"></i>
            <span th:text="'클래스/시간표'">클래스/시간표</span>
          </a>
        </li>
        <li>
          <a th:href="@{/student/attendance}">
            <i class="bi bi-circle"></i>
            <span th:text="'출석현황'">출석현황</span>
          </a>
        </li>
        <li>
          <a th:href="@{/student/report}">
            <i class="bi bi-circle"></i>
            <span th:text="'학습리포트'">학습리포트</span>
          </a>
        </li>
        <li>
          <a th:href="@{/student/planner/list}">
            <i class="bi bi-circle"></i>
            <span th:text="'My플래너'">My플래너</span>
          </a>
        </li>
      </ul>
    </li><!-- End 학생상세페이지 Nav -->
  </ul>
</aside><!-- End Sidebar -->



<!-- ======= 메인 페이지 ======= -->
<main id="main" class="main">

  <div class="pagetitle">
    <h1 th:text="${pageTitle}">메인</h1>
  </div><!-- End Page Title -->

  <section class="section dashboard">

  <!--   메인 사진 -->
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" th:text="${welcomeTitle}">Welcome Title</h1>
          <p data-aos="fade-up" data-aos-delay="100" th:text="${welcomeDescription}">Welcome Description</p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img th:src="@{/assets/img/hero-img.png}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- 관리자로그인 Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6 href="#">관리자 로그인</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End 관리자로그인 Card -->

          <!-- 직원 로그인 Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>직원 로그인</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End 직원 로그인 Card -->

          <!-- 학생 로그인 Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>학생 로그인</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End 학생 로그인 Card -->

          <!-- Right side columns -->
          <div class="col-lg-4">

            <!-- 공지사항 -->
            <div class="card">

              <div class="card-body pb-0">
                <h3 class="card-title">학원공지</h3>

                <div class="news">


                </div><!-- End sidebar recent posts-->
                <!-- 공지사항 리스트 -->
                <div th:if="${#lists.isEmpty(noticeList)}">
                  <p>현재 공지사항이 없습니다.</p>
                </div>

                <!-- 공지사항 리스트 -->
                <div th:each="notice : ${noticeList}" class="post-item clearfix">
                  <!-- 기본 이미지 대체 -->
<!--                  <img src="/assets/img/news-1.jpg" alt="공지 이미지">-->
                  <h4>
                    <a th:href="@{/notice/{notice_no}(notice_no=${notice.notice_no})}" th:text="${notice.notice_title}">공지사항 제목</a>
                  </h4>
                  <p th:text="${notice.notice_txt}">공지사항 내용</p>
                </div>
              </div><!-- End sidebar recent posts -->




              </div>
            </div><!-- End 공지사항 -->

        </div>
    </div>

                </div><!-- End sidebar recent posts-->

              </div>
            </div><!-- End News & Updates -->

          </div><!-- End Right side columns -->

        </div>
      </div></div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>LastDance</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Designed by BootstrapMade
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>