<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!--    <title>내용</title>-->
  <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <th:block th:replace="fragments/header :: header"></th:block>
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <th:block th:replace="fragments/aside :: aside"></th:block>
</aside><!-- End Sidebar -->

<!-- ======= 페이지 ======= -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>MY 플래너</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Main</a></li>
          <li class="breadcrumb-item">학생상세페이지</li>
          <li class="breadcrumb-item active">플래너</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">플래너 수정</h5>

              <!-- 플래너 수정 -->
              <form th:action="@{/student/planner/update}" method="post">
                <input type="hidden" name="planner_no" th:value="${plannerDTO.planner_no}" />

                <table class="p-table">
                  <tr>
                    <th>제목</th>
                    <td><input type="text" name="planner_title" class="form-control" th:value="${plannerDTO.planner_title}"></td>
                  </tr>
                  <tr>
                    <th>작성일</th>
                    <td><input type="date" name="planner_date" class="form-control" th:value="${#dates.format(plannerDTO.planner_date, 'yyyy-MM-dd')}"></td>
                  </tr>
                  <tr>
                    <th>내용</th>
                    <td><textarea name="planner_txt" class="form-control" style="height: 100px" th:text="${plannerDTO.planner_txt}"></textarea></td>
                  </tr>
                </table>

                <!--   버튼  -->
                <div class="d-flex justify-content-end mt-3">
                 <button type="submit" class="btn btn-primary me-3">저장</button>
                 <a th:href="@{/student/planner/details/{planner_no}(planner_no=${plannerDTO.planner_no})}" class="btn btn-secondary">취소</a>
                </div>

              </form>
              <!-- End 플래너 수정 -->

            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>LastDance</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Designed by BootstrapMade
  </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>