<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lastdance.project.member.model.dao.MemberDAO">

    <!-- member 조회 -->
    <select id="getAllMembers" resultType="com.lastdance.project.member.model.dto.MemberDTO">
--         SELECT * FROM member
        SELECT member_no, name
        FROM member
        WHERE role_type = 'EMPLOYEE'
    </select>

</mapper>