<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!--    <title>내용</title>-->
    <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:replace="fragments/header :: header"></th:block>
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <th:block th:replace="fragments/aside :: aside"></th:block>
</aside><!-- End Sidebar -->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>클래스 목록</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../templates/index.html">Home</a></li>
                <li class="breadcrumb-item">학원관리</li>
                <li class="breadcrumb-item active">클래스목록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- 클래스 추가 -->
    <section class="section">
        <div class="row">
            <!--            <div class="col-lg-6">-->

            <!-- Start form div -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">클래스 추가</h5>

                    <form action="/classList/addClass" method="post">
                        <div class="row mb-3">
                            <label for="class_name" class="col-sm-2 col-form-label">클래스명 </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="class_name" name="class_name" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="class_schedule" class="col-sm-2 col-form-label">수업 일정 </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="class_schedule" name="class_schedule" required>
                            </div>
                        </div>

<!--                        <div class="row mb-3">-->
<!--                            <label for="subject_no" class="col-sm-2 col-form-label">과목번호 </label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="number" class="form-control" id="subject_no" name="subject_no" required>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row mb-3">-->
<!--                            <label for="member_no" class="col-sm-2 col-form-label">관련인번호 </label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="number" class="form-control" id="member_no" name="member_no" required>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="row mb-3">
                            <label for="subject_no" class="col-sm-2 col-form-label">과목명</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="subject_no" name="subject_no" required>
                                    <option value="" disabled selected>과목을 선택해주세요</option>
                                    <option th:each="subject : ${subjects}" th:value="${subject.subject_no}" th:text="${subject.subject_name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="member_no" class="col-sm-2 col-form-label">관련인 이름</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="member_no" name="member_no" required>
                                    <option value="" disabled selected>관련인을 선택해주세요</option>
                                    <option th:each="member : ${members}" th:value="${member.member_no}" th:text="${member.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="text-center">
                            <!-- 추가 버튼 -->
                            <button type="submit" class="btn btn-primary">추가</button>

                            <!-- 취소 버튼 -->
                            <button type="button" class="btn btn-primary">
                                <a href="/classList" style="text-decoration: none; color: white;">취소</a>
                            </button>
                        </div>

                    </form><!-- End form -->
                </div>
            </div><!--End form div-->

            <!--            </div>-->
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>LastDance</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>
</html>