<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>클래스 리스트</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

<!--    <style></style>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/classList/classList.css}"/>-->

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">LastDance</span>
        </a>
        <!--      <i class="bi bi-list toggle-sidebar-btn"></i>-->
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <button type="button" class="btn btn-outline-dark" href="#">로그아웃</button>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/index">
                <i class="bi bi-grid"></i>
                <span>메인</span>
            </a>
        </li><!-- End 메인 Nav -->

        <li class="nav-item">
            <a class="nav-link " href="/academy-management/dashboard">
                <i class="bi bi-grid"></i>
                <span>학원현황</span>
            </a>
        </li><!-- End 학원현황 Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>학원관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>

            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="../components-alerts.html">
                        <i class="bi bi-circle"></i><span>학원정보</span>
                    </a>
                </li>
                <li>
                    <a href="../components-accordion.html">
                        <i class="bi bi-circle"></i><span>강사등록</span>
                    </a>
                </li>
                <li>
                    <a href="../components-badges.html">
                        <i class="bi bi-circle"></i><span>강사목록</span>
                    </a>
                </li>
                <li>
                    <!--          <a href="../components-cards.html">-->
                    <a href="./classList/classList.html">
                        <i class="bi bi-circle"></i><span>클래스목록</span>
                    </a>
                </li>
                <li>
                    <a href="../components-buttons.html">
                        <i class="bi bi-circle"></i><span>권한</span>
                    </a>
                </li>
            </ul>
        </li><!-- End 학원관리 Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>학생관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="forms.html">
                        <i class="bi bi-circle"></i><span>학생등록</span>
                    </a>
                </li>
                <li>
                    <a href="../tables-data.html">
                        <i class="bi bi-circle"></i><span>학생정보</span>
                    </a>
                </li>
            </ul>
        </li><!-- End 학생관리 Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>수업지원</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="../forms-elements.html">
                        <i class="bi bi-circle"></i><span>출석관리</span>
                    </a>
                </li>
                <li>
                    <a href="../forms-layouts.html">
                        <i class="bi bi-circle"></i><span>성적등록</span>
                    </a>
                </li>
                <li>
                    <a href="../forms-editors.html">
                        <i class="bi bi-circle"></i><span>과제등록</span>
                    </a>
                </li>
                <li>
                    <a href="../forms-validation.html">
                        <i class="bi bi-circle"></i><span>플래너</span>
                    </a>
                </li>
            </ul>
        </li><!-- End 수업지원 Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>학생상세페이지</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="../charts-chartjs.html">
                        <i class="bi bi-circle"></i><span>학생정보</span>
                    </a>
                </li>
                <li>
                    <a href="../charts-apexcharts.html">
                        <i class="bi bi-circle"></i><span>클래스/시간표</span>
                    </a>
                </li>
                <li>
                    <a href="../charts-echarts.html">
                        <i class="bi bi-circle"></i><span>출석현황</span>
                    </a>
                </li>
                <li>
                    <a href="../charts-echarts.html">
                        <i class="bi bi-circle"></i><span>학습리포트</span>
                    </a>
                </li>
                <li>
                    <a href="../charts-echarts.html">
                        <i class="bi bi-circle"></i><span>My플래너</span>
                    </a>
                </li>
            </ul>
        </li><!-- End 학생상세페이지 Nav -->
    </ul>
</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>클래스</h1>
    </div><!-- End Page Title -->

    <!-- 클래스 리스트 -->
    <section>
        <div>
            <h3>클래스 리스트</h3>
            <!---->
            <table border="1" style="text-align: center; border-collapse: collapse; background-color: white;border: 1px solid lightgray;width: 90%">
                <thead>
                <tr style="height: 40px;width:80px;border: 1px solid lightgray;">
                    <th>클래스 번호</th>
                    <th>클래스명</th>
                    <th>수업일정</th>
                    <th>과목번호</th>
                    <th>관련인번호</th>
                </tr>
                </thead>
                <tbody>
                <!-- 클래스 리스트를 여기에 출력 -->
                <tr th:each="classList : ${classList}">
                    <td th:text="${classList.class_no}"></td>
                    <td th:text="${classList.class_name}"></td>
                    <td th:text="${classList.class_schedule}"></td>
                    <td th:text="${classList.subject_no}"></td>
                    <td th:text="${classList.member_no}"></td>

                    <!-- 클래스 상세보기 버튼 -->
                    <td>
                        <a th:href="@{/classList/detail/{class_no}(class_no=${classList.class_no})}">
                            <button style="border: 1px solid gray;">상세보기</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 클래스 추가 버튼 -->
        <div style="margin-top: 20px;">
            <button style="padding: 10px 15px;border: 1px solid lightgray;background-color: navy">
                <a href="/classList/addClass" style="text-decoration: none; color: white;">클래스 추가</a>
            </button>
        </div>


    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>LastDance</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>
</html>